.site-header {
  margin-bottom: 1.5em;
  padding: 0.75em 1.5em 1.5em;
  color: #fff;
  background-color: #485563;
  box-shadow: 0 3px 5px rgba(30, 30, 30, 0.25);
  z-index: 100;
  text-align: center;
}

.site-title {
  margin-bottom: 0.5em;
}

.site-title a {
  border-bottom: 0;
}

.site-title a:focus {
  border-bottom: 1px dotted;
}

@media (min-width: 50em) {
  .site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5em;
    text-align: left;
  }

  .site-title {
    margin-bottom: 0;
  }
}
