.stats-list li {
  padding: 0.75em 0;
  border-bottom: 1px solid #dadada;
}

.stats-list li:first-child {
  padding-top: 0;
}

.stats-list li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.stats-heading {
  margin-bottom: 0;
  font-size: 1em;
  line-height: 1.5;
  text-transform: uppercase;
}
